<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Voltar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h3>Quem Somos</h3>
  <p>A “EstampaLogo, Lda.” é uma empresa com experiência especializada em decoração, que decidiu investir no mercado
de decoração personalizada de artigos, a partir de fotos. A empresa dá a possibilidade aos clientes de personalizarem
qualquer artigo à sua escolha com o seu próprio e original motivo decorativo, baseado em imagens/fotos (exemplo:
capas personalizadas de telemóveis, t-shirts, bonés, entre muitos outros produtos). Um mundo infindável de
possibilidades decorativas abre-se a quem o desejar</p>
  <h5>David Malafaya nº29667</h5>
  <h5>João Rodrigues nº29653</h5>
</ion-content>
